html,
.main-container {
    background-color: darkgray;
}

.main-container {
    position: relative;
    padding: 1rem;
    background-color: var(--back-color);
}

.main-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    color: var(--primary-color);
}

.main-section div{
    width: 100%;
/*     object-fit: cover;
    object-position: center center; */
}

.main-section div img{
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 3rem;
}

.title-video,
.calif-video,
.year-video,
.actors-list-video,
.actors-title-video,
.summmary-video {
    margin:0;
    padding-top: 0.25rem;
    font-size: 1rem;
}

.title-video {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    box-shadow: 0 0.8rem 0.8rem -0.8rem var(--mid-color);
}

.calif-video,
.year-video {
    font-weight: lighter;
}

.year-video {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.5rem 0.8rem -0.8rem var(--mid-color);
}

.actors-title-video {
    font-weight: bolder;
}

.actors-list-video {
    list-style: square;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.5rem 0.8rem -0.8rem var(--mid-color);
}

.actor-video {
    margin-top: 0.5rem;
}

.summmary-video {
    padding: 1rem 0;
    font-size: 1.1rem;
    text-align: justify;}

.summmary-video span{
    font-weight: bolder;
}
        
.section-grid {
   padding-left: 0; 
}

.title-list-grid {
    padding-top: 0.5rem;
    border-top: 0.25rem groove var(--light-color);
}

@media all and (min-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 70vh 30vh;
        grid-template-areas: "main"
                            "extra";
    }

    .main-section {
        display: block;

        grid-area: main;
        display: grid;
        grid-template-columns: 0.35fr 0.65fr;
        grid-template-rows:  0.1fr 0.1fr 0.1fr 0.1fr 0.25fr 0.35fr;
        grid-template-areas: "title pic"
                            "calif pic"
                            "year pic"
                            "title-actors pic"
                            "actors pic"
                            "summary summary";
    }

    

    .div-img-video {
        grid-area: pic;
        max-height: 100%;
/* width: 100%;
height: auto; */
    }

    .main-section div img{
/*         width: 100%; */
max-height: 100%;
        object-fit: contain;
     object-position: center center;
    }

    .title-video {
        grid-area: title;
        font-size: 3rem;
    }

    .calif-video {
        grid-area:calif;
        font-size:2rem;
    }

    .year-video {
        grid-area: year;
        font-size:2rem;
    }

    .actors-title-video {
        grid-area: title-actors;
        font-size:2rem;
    }

    .actors-list-video {
        grid-area: actors;
    }

    .actor-video {
        font-size:1.5rem;
    }

    .summmary-video,
    .summmary-video span {
        grid-area: summary;
        font-size:2rem;
    }


    .section-grid {
        grid-area: extra;
    }
}
