html,
.main-container {
    background-color: darkgray;
}

.main-container {
    position: relative;
    padding: 1rem;
}

.main-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    color: var(--primary-color);
}

.main-section div{
    width: 100%;
/*     object-fit: cover;
    object-position: center center; */
}

.main-section div img{
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.title-video,
.calif-video,
.year-video,
.actors-list-video,
.actors-title-video,
.summmary-video {
    margin:0;
    padding-top: 0.25rem;
    font-size: 1rem;
}

.title-video {
    width: 100%;
    font-size: 1.5rem;
}

.calif-video,
.year-video {
    font-weight: lighter;
}

.year-video {

}

.actors-title-video {
    font-weight: bolder;
}

.actors-list-video {
    list-style: square;
}

.actor-video {

}

.summmary-video {
    padding-top: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.summmary-video span{
    font-weight: bolder;
}
        
.section-grid {
   padding-left: 0;     
}

.title-list-grid {
    padding-top: 0.5rem;
    border-top: 0.25rem solid var(--primary-color); 
}

