/* GLOBAL Configuration */
html {
    box-sizing: border-box;
}
  
/* GLOBAL Configuration */
*,
*:before,
*:after {
    box-sizing: inherit;
}
  
/* BODY Configuration */
body {
    margin: 0;
    padding: 0;
}
  
/* MEDIA Configuration */
img,
video {
    max-width: 100%;
}