@font-face {
    font-family: cinema-text;
    src: url('../fonts/cinema-text.ttf');
  }

:root {
    --font-size: 16px;
    --primary-color: #202020;
    --mid-color: rgb(177, 174, 174);
    --light-color: whitesmoke;
  
    --navbar-height: 4rem;

    --content-max-width: 400px;
    --content-max-width-mobile: 225px;
}