@font-face {
    font-family: cinema-text;
    src: url('../fonts/cinema-text.ttf');
  }

:root {
    --font-size: 16px;
    --primary-color: #202020;
    --mid-color: rgb(194, 191, 191);
    --light-color: whitesmoke;
    --back-color: rgba(244, 246, 247);
  
    --navbar-height: 4rem;

    --content-max-width: 500px;
    --content-max-width-mobile: 225px;
}